// src/styles/variables.scss
$primary-color: #2a9d8f;
$secondary-color: #264653;
$background-dark: #1a1a1a;
$text-color: #ffffff;
$error-color: #e76f51;
$success-color: #2a9d8f;
$border-color: #444;
